<br/>
<br/>
<p class="small light">
  If you believe these results are incorrect, please
  <%= link_to 'report a bug against rpmdiff', "https://#{Bugzilla::BUGZILLA_SERVER}/enter_bug.cgi?product=RPMDiff&bug_file_loc=#{CGI.escape(request.url)}", :target => '_blank' %>.
</p>

