--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:43:58 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34667,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"debug\",\"name\":\"rhel-7-desktop-rhceph-2-tools-debug-rpms__7Client__x86_64\",\"shadow\":false,\"product_id\":68},{\"id\":34668,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-desktop-rhceph-2-tools-rpms__7Client__x86_64\",\"shadow\":false,\"product_id\":68},{\"id\":34669,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm[...]
[...]
