--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/products/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Feb 2017 13:14:49 GMT
      Allow: 
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":25,\"next\":\"https://pdc.engineering.redhat.com/rest_api/v1/products/?page=2\",\"previous\":null,\"results\":[{\"name\":\"Red Hat Ceph Storage\",\"short\":\"ceph\",\"active\":true,\"product_versions\":[\"ceph-1\",\"ceph-2\"],\"internal\":false},{\"name\":\"dotNET on RHEL\",\"short\":\"dotnet\",\"active\":true,\"product_versions\":[\"dotnet-1\"],\"internal\":false},{\"name\":\"Dummy Product\",\"short\":\"dp\",\"active\":true,\"product_versions\":[\"dp-1\"],\"internal\":false},{\"name\":\"Extras\",\"short\":\"extras\",\"active\":true,\"product_versions\":[\"extras-7\"],\"internal\":false},{\"name\":\"Red Hat JBoss Enterprise Application Platform\",\"short\":\"jbeap\",\"active\":true,\"product_versions\":[\"jbeap-6.4\"],\"internal\[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/products/?page=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Feb 2017 13:14:49 GMT
      Allow: 
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":25,\"next\":null,\"previous\":\"https://pdc.engineering.redhat.com/rest_api/v1/products/\",\"results\":[{\"name\":\"SAP\",\"short\":\"sap\",\"active\":true,\"product_versions\":[\"sap-2\",\"sap-6\",\"sap-7\"],\"internal\":false},{\"name\":\"SAP HANA\",\"short\":\"saphana\",\"active\":true,\"product_versions\":[\"saphana-6\",\"saphana-7\"],\"internal\":false},{\"name\":\"Red Hat Satellite\",\"short\":\"satellite\",\"active\":true,\"product_versions\":[\"satellite-6\",\"satellite-6.0\",\"satellite-6.1\",\"satellite-6.2\"],\"internal\":false},{\"name\":\"Red Hat Satellite Tools\",\"short\":\"sattools\",\"active\":true,\"product_versions\":[\"sattools-6\"],\"internal\":false},{\"name\":\"Supplementary\",\"short\":\"supp\",\"active\":true,\"product_versions\":[\"supp-6\",\"supp-7\"],\"internal\":false}]}"
  recorded_at: Wed, 08 Feb 2017 13:40:03 GMT
recorded_with: VCR 3.0.3
