--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 02:59:45 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34667,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"debug\",\"name\":\"rhel-7-desktop-rhceph-2-tools-debug-rpms__7Client__x86_64\",\"shadow\":false,\"product_id\":68},{\"id\":34668,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-desktop-rhceph-2-tools-rpms__7Client__x86_64\",\"shadow\":false,\"product_id\":68},{\"id\":34669,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 01:51:14 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"MON\",\"uid\":\"MON\",\"name\":\"MON\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Thu, 13 Apr 2017 02:59:47 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 16:18:54 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-2.1-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"2.1\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-2\",\"release_type\":\"updates\",\"compose_set\":[\"RHCEPH-2.1-RHEL-7-20161201.t.0\",\"RHCEPH-2.1-RHEL-7-20161207.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-2-rhel-7-candidate\",\"allowed_tags\":[\"ceph-2-rhel-7-candidate\",\"ceph-2-rhel-7\"]},\"product_pages\":null,\"errata\":null}"
  recorded_at: Thu, 13 Apr 2017 02:59:48 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 02:59:49 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34687,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-server-7-rhceph-2-mon\",\"shadow\":false,\"product_id\":null}]"
  recorded_at: Thu, 13 Apr 2017 02:59:50 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 01:51:14 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"OSD\",\"uid\":\"OSD\",\"name\":\"OSD\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Thu, 13 Apr 2017 03:00:00 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 03:00:04 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34688,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-server-7-rhceph-2-osd\",\"shadow\":false,\"product_id\":null}]"
  recorded_at: Thu, 13 Apr 2017 03:00:04 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 03:00:19 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34675,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"source\",\"name\":\"rhel-7-server-rhceph-2-mon-source-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":286}]"
  recorded_at: Thu, 13 Apr 2017 03:00:19 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 03:00:23 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34674,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-server-rhceph-2-mon-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":286}]"
  recorded_at: Thu, 13 Apr 2017 03:00:24 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 03:00:34 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34678,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"source\",\"name\":\"rhel-7-server-rhceph-2-osd-source-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":288}]"
  recorded_at: Thu, 13 Apr 2017 03:00:35 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 03:00:39 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34677,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-server-rhceph-2-osd-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":288}]"
  recorded_at: Thu, 13 Apr 2017 03:00:40 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 13 Apr 2017 03:00:45 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34677,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-server-rhceph-2-osd-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":288}]"
  recorded_at: Thu, 13 Apr 2017 03:00:45 GMT
recorded_with: VCR 3.0.3
