--- 
http_interactions: 
- request: 
    method: post
    uri: http://pub.qa.engineering.redhat.com/pub/xmlrpc/client/
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>auth.login_password</methodName><params><param><value><string>errata</string></value></param><param><value><string>errata</string></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: UTF-8
      string: |
        <?xml version='1.0'?>
        <methodResponse>
        <params>
        <param>
        <value><string>8z9xewa1pnex9i5v9iawogl0k1wgcbih</string></value>
        </param>
        </params>
        </methodResponse>

  recorded_at: Wed, 22 Mar 2017 15:06:29 GMT
[...]
- request: 
    method: post
    uri: http://pub.qa.engineering.redhat.com/pub/xmlrpc/client/
    body: 
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>auth.logout</methodName><params/></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      encoding: UTF-8
      string: |
        <?xml version='1.0'?>
        <methodResponse>
        <params>
        <param>
        <value><nil/></value></param>
        </params>
        </methodResponse>

  recorded_at: Wed, 22 Mar 2017 15:06:33 GMT
recorded_with: VCR 3.0.3
