--- 
http_interactions: 
- request: 
    method: post
    uri: https://datasvc.lightblue.dev2.redhat.com/rest/data/find/containerImage
    body: 
      encoding: UTF-8
      string: "{\"objectType\":\"containerImage\",\"version\":\"0.0.6\",\"query\":{\"field\":\"brew.build\",\"op\":\"$in\",\"values\":[\"rhel-server-docker-6.8-25\"]},\"projection\":[{\"field\":\"repositories\",\"range\":[0,9999],\"projection\":[{\"field\":\"content_advisories\",\"range\":[0,9999],\"projection\":{\"field\":\"id\",\"include\":true}},{\"field\":\"tags\",\"range\":[0,9999],\"projection\":{\"field\":\"name\",\"include\":true}},{\"field\":\"repository\",\"include\":true}]},{\"field\":\"brew.build\",\"include\":true},{\"field\":\"lastUpdateDate\",\"include\":true}]}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Requestid: 
      - "-8223694764458819522"
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"status\":\"COMPLETE\",\"modifiedCount\":0,\"matchCount\":0,\"processed\":[],\"hostname\":\"lightbluecrud1.dev2.a1.vary.redhat.com\"}"
  recorded_at: Fri, 18 Nov 2016 00:15:35 GMT
recorded_with: VCR 3.0.3
