--- 
http_interactions: 
- request: 
    method: post
    uri: https://datasvc.lightblue.dev2.redhat.com/rest/data/find/containerImage
    body: 
      encoding: UTF-8
      string: "{\"objectType\":\"containerImage\",\"version\":\"0.0.6\",\"query\":{\"field\":\"brew.build\",\"op\":\"=\",\"rvalue\":\"foobar\"},\"projection\":{\"field\":\"parsed_data.rpm_manifest\",\"include\":true,\"recursive\":true}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 0
      message: 
    headers: {}

    body: 
      encoding: ASCII-8BIT
      string: ""
  recorded_at: Mon, 14 Nov 2016 02:52:56 GMT
recorded_with: VCR 3.0.3
