--- 
http_interactions: 
- request: 
    method: post
    uri: https://datasvc.lightblue.dev0.redhat.com/rest/data/find/containerImage
    body: 
      encoding: UTF-8
      string: "{\"objectType\":\"containerImage\",\"version\":\"0.0.6\",\"query\":{\"field\":\"brew.build\",\"op\":\"=\",\"rvalue\":\"foobaz\"},\"projection\":{\"field\":\"parsed_data.rpm_manifest\",\"include\":true,\"recursive\":true}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Requestid: 
      - "-2501254072591104162"
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"status\":\"COMPLETE\",\"modifiedCount\":0,\"matchCount\":0,\"processed\":[],\"hostname\":\"lightbluecrud6.dev0.a1.vary.redhat.com\"}"
  recorded_at: Mon, 12 Dec 2016 01:29:07 GMT
recorded_with: VCR 3.0.3
