--- 
http_interactions: 
- request: 
    method: post
    uri: https://datasvc.lightblue.dev2.redhat.com/rest/data/find/containerImage
    body: 
      encoding: UTF-8
      string: "{\"objectType\":\"containerImage\",\"version\":\"0.0.6\",\"query\":{\"field\":\"brew.build\",\"op\":\"=\",\"rvalue\":\"rh-ror41-docker-4.1-13.1\"},\"projection\":{\"field\":\"parsed_data.rpm_manifest\",\"include\":true,\"recursive\":true}}"
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Requestid: 
      - "2747377812018578328"
      Content-Type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"status\":\"COMPLETE\",\"modifiedCount\":0,\"matchCount\":1,\"processed\":[{\"parsed_data\":{\"rpm_manifest\":[{\"summary\":\"A stream of blocks\",\"nvra\":\"nodejs010-nodejs-block-stream-0.0.7-2.el7.noarch\",\"release\":\"2.el7\",\"srpm_nevra\":\"nodejs010-nodejs-block-stream-0:0.0.7-2.el7.src\",\"name\":\"nodejs010-nodejs-block-stream\",\"version\":\"0.0.7\",\"architecture\":\"noarch\",\"gpg\":\"199e2f91fd431d51\"},{\"summary\":\"HTTP Agent that keeps socket connections alive between keep-alive requests\",\"nvra\":\"nodejs010-nodejs-forever-agent-0.5.0-2.el7.noarch\",\"release\":\"2.el7\",\"srpm_nevra\":\"nodejs010-nodejs-forever-agent-0:0.5.0-2.el7.src\",\"name\":\"nodejs010-nodejs-forever-agent\",\"version\":\"0.5.0\",\"architecture\":\"noarch\",\"gpg\":\"199e2f91fd431d51\"},{\"summary\":\"JSON.stringify that handles circular references\",\"nvra\":\"nodejs010-nodejs-json-stringify-s[...]
