---
http_interactions:
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/?active=false&page_size=-1
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 21 Apr 2017 09:33:21 GMT
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[{\"release_id\":\"rcmtools-1.5@rhel-7\",\"short\":\"rcmtools\",\"version\":\"1.5\",\"name\":\"RCM Tools\",\"base_product\":\"rhel-7\",\"active\":false,\"product_version\":\"rcmtools-1\",\"release_type\":\"ga\",\"compose_set\":[\"RCMTOOLS-1.5-RHEL-7-20160407.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":{\"branch\":\"eng-rhel-7\"},\"brew\":null,\"product_pages\":null,\"errata\":null},{\"release_id\":\"rcmtools-1.5@rhel-6\",\"short\":\"rcmtools\",\"version\":\"1.5\",\"name\":\"RCM Tools\",\"base_product\":\"rhel-6\",\"active\":false,\"product_version\":\"rcmtools-1\",\"release_type\":\"ga\",\"compose_set\":[\"RCMTOOLS-1.5-RHEL-6-20160407.4\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":{\"branch\":\"eng-rhel-6\"},\"brew\":{\"default_target\":\"eng-rhel-6-candidate\",\"allowed_tags\":[]},\"product_pages\":null,\"errata\":null},{\"release_id\":\"rcmtools-1.7@rhel-6\",\"short\":\"rcmtools\",\"version\":\"1.7\",\"name\":\"RCM Tools\",\"base_product\":\"rhel-6\",\"active\":false,\"product_version\":\"rcmtools-1\",\"release_type\":\"ga\",\"compose_set\":[\"RCMTOOLS-1.7-RHEL-6-20160413.0\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":{\"branch\":\"eng-rhel-6\"},\"brew\":null,\"product_pages\":null,\"errata\":null},{\"release_id\":\"rcmtools-1.7@rhel-7\",\"short\":\"rcm[...]
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/rpm-mapping/python-crypto/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 22 Apr 2017 14:24:54 GMT
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"compose\":\"RHCEPH-2.1-RHEL-7-20161208.t.1\",\"mapping\":{\"MON\":{\"x86_64\":{\"python-crypto\":[\"x86_64\"],\"python-crypto-debuginfo\":[\"x86_64\"]}}}}"
  recorded_at: Sat, 22 Apr 2017 14:24:54 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 21 Apr 2017 09:33:21 GMT
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-2.1-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"2.1\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-2\",\"release_type\":\"updates\",\"compose_set\":[\"RHCEPH-2.1-RHEL-7-20161201.t.0\",\"RHCEPH-2.1-RHEL-7-20161207.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-2-rhel-7-candidate\",\"allowed_tags\":[\"ceph-2-rhel-7-candidate\",\"ceph-2-rhel-7\"]},\"product_pages\":null,\"errata\":null}"
  recorded_at: Sat, 22 Apr 2017 14:24:56 GMT
recorded_with: VCR 3.0.3
