--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-1.3-updates@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Feb 2017 13:14:49 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-1.3-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"1.3\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-1\",\"release_type\":\"updates\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":null,\"product_pages\":null,\"errata\":null}"
  recorded_at: Fri, 10 Feb 2017 08:29:23 GMT
recorded_with: VCR 3.0.3
