--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 08:23:28 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34685,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-client-7-rhceph-2-tools\",\"shadow\":false,\"product_id\":null},{\"id\":34686,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"ComputeNode-Tools\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-hpc-node-7-rhceph-2-tools\",\"shadow\":false,\"product_id\":null},{\"id\":34687,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_cat[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 08:23:30 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Typ[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Client-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:47:56 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ClientTools\",\"uid\":\"Client-Tools\",\"name\":\"Client-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Tue, 11 Apr 2017 08:23:32 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=ComputeNode-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:47:56 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ComputeNodeTools\",\"uid\":\"ComputeNode-Tools\",\"name\":\"ComputeNode-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Tue, 11 Apr 2017 08:23:34 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:47:56 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"MON\",\"uid\":\"MON\",\"name\":\"MON\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Tue, 11 Apr 2017 08:23:36 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:47:56 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"OSD\",\"uid\":\"OSD\",\"name\":\"OSD\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Tue, 11 Apr 2017 08:23:38 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Server-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:47:56 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ServerTools\",\"uid\":\"Server-Tools\",\"name\":\"Server-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Tue, 11 Apr 2017 08:23:40 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Workstation-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 11 Apr 2017 01:47:56 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"WorkstationTools\",\"uid\":\"Workstation-Tools\",\"name\":\"Workstation-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Tue, 11 Apr 2017 08:23:41 GMT
recorded_with: VCR 3.0.3
