--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-1.3@rhel-7&uid=Calamari
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Mar 2017 01:40:08 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-1.3@rhel-7\",\"id\":\"Calamari\",\"uid\":\"Calamari\",\"name\":\"Calamari\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 08 Mar 2017 15:57:59 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-1.3@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Feb 2017 13:14:49 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-1.3@rhel-7\",\"short\":\"ceph\",\"version\":\"1.3\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-1\",\"release_type\":\"ga\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-1.3-rhel-7-candidate\",\"allowed_tags\":[\"ceph-1.3-rhel-7-candidate\",\"ceph-1.3-rhel-7\"]},\"product_pages\":null,\"errata\":null}"
  recorded_at: Wed, 08 Mar 2017 15:58:03 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-1.3@rhel-7&uid=Calamari
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Mar 2017 01:40:08 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-1.3@rhel-7\",\"id\":\"Calamari\",\"uid\":\"Calamari\",\"name\":\"Calamari\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 08 Mar 2017 15:58:06 GMT
recorded_with: VCR 3.0.3
