--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 02:28:10 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"MON\",\"uid\":\"MON\",\"name\":\"MON\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 03 May 2017 06:30:21 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 24 Apr 2017 19:07:42 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-2.1-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"2.1\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-2\",\"release_type\":\"updates\",\"compose_set\":[\"RHCEPH-2.1-RHEL-7-20161201.t.0\",\"RHCEPH-2.1-RHEL-7-20161207.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-2-rhel-7-candidate\",\"allowed_tags\":[\"ceph-2-rhel-7-candidate\",\"ceph-2-rhel-7\"]},\"product_pages\":null,\"errata\":null}"
  recorded_at: Wed, 03 May 2017 06:30:23 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 06:30:25 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34687,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-server-7-rhceph-2-mon\",\"shadow\":false,\"product_id\":null},{\"id\":39804,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"debug\",\"name\":\"rhel-x86_64-server-7-rhceph-2-mon-debuginfo\",\"shadow\":false,\"product_id\":null}]"
  recorded_at: Wed, 03 May 2017 06:30:25 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=debug&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 06:30:35 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34673,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"debug\",\"name\":\"rhel-7-server-rhceph-2-mon-debug-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":286}]"
  recorded_at: Wed, 03 May 2017 06:30:35 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 06:30:40 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34675,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"source\",\"name\":\"rhel-7-server-rhceph-2-mon-source-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":286}]"
  recorded_at: Wed, 03 May 2017 06:30:41 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/rcmtools-1.5@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 24 Apr 2017 19:07:42 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"rcmtools-1.5@rhel-7\",\"short\":\"rcmtools\",\"version\":\"1.5\",\"name\":\"RCM Tools\",\"base_product\":\"rhel-7\",\"active\":false,\"product_version\":\"rcmtools-1\",\"release_type\":\"ga\",\"compose_set\":[\"RCMTOOLS-1.5-RHEL-7-20160407.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":{\"branch\":\"eng-rhel-7\"},\"brew\":null,\"product_pages\":null,\"errata\":null}"
  recorded_at: Wed, 03 May 2017 06:30:44 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 06:30:51 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 06:30:53 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Typ[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Client-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 02:28:10 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ClientTools\",\"uid\":\"Client-Tools\",\"name\":\"Client-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 03 May 2017 06:30:55 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=ComputeNode-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 02:28:10 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ComputeNodeTools\",\"uid\":\"ComputeNode-Tools\",\"name\":\"ComputeNode-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 03 May 2017 06:30:57 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 02:28:10 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"OSD\",\"uid\":\"OSD\",\"name\":\"OSD\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 03 May 2017 06:31:01 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Server-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 02:28:10 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ServerTools\",\"uid\":\"Server-Tools\",\"name\":\"Server-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 03 May 2017 06:31:02 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Workstation-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 03 May 2017 02:28:10 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"WorkstationTools\",\"uid\":\"Workstation-Tools\",\"name\":\"Workstation-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 03 May 2017 06:31:04 GMT
recorded_with: VCR 3.0.3
