--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-1.3@rhel-7&uid=Calamari
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Mar 2017 01:40:08 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-1.3@rhel-7\",\"id\":\"Calamari\",\"uid\":\"Calamari\",\"name\":\"Calamari\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Wed, 08 Mar 2017 15:57:57 GMT
recorded_with: VCR 3.0.3
