---
#
# Requests related to the ceph-2.1-updates@rhel-7 PDC repo and its variants OSD and MON
# Note that in reality this release has many more variants, but for a lot of our tests and
# fixtures we assume it has just MON and OSD variants.
#
http_interactions:
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 24 Apr 2017 19:07:42 GMT
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "release_id": "ceph-2.1-updates@rhel-7",
          "short": "ceph",
          "version": "2.1",
          "name": "Red Hat Ceph Storage",
          "base_product": "rhel-7",
          "active": true,
          "product_version": "ceph-2",
          "release_type": "updates",
          "compose_set": [
            "RHCEPH-2.1-RHEL-7-20161201.t.0",
            "RHCEPH-2.1-RHEL-7-20161207.t.0",
            "RHCEPH-2.1-RHEL-7-20161208.t.0",
            "RHCEPH-2.1-RHEL-7-20161208.t.1"
          ],
          "integrated_with": null,
          "bugzilla": null,
          "dist_git": null,
          "brew": {
            "default_target": "ceph-2-rhel-7-candidate",
            "allowed_tags": [
              "ceph-2-rhel-7-candidate",
              "ceph-2-rhel-7"
            ]
          },
          "product_pages": null,
          "errata": null
        }
  recorded_at: Mon, 08 May 2017 04:32:23 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?page_size=-1&release=ceph-2.1-updates@rhel-7
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 23 May 2017 02:57:39 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "release":"ceph-2.1-updates@rhel-7",
            "id":"MON",
            "uid":"MON",
            "name":"MON",
            "type":"variant",
            "arches":["x86_64"]
          },
          {
            "release":"ceph-2.1-updates@rhel-7",
            "id":"OSD",
            "uid":"OSD",
            "name":"OSD",
            "type":"variant",
            "arches":["x86_64"]
          }
        ]
  recorded_at: Tue, 23 May 2017 05:07:33 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=MON
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 08 May 2017 02:56:59 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "count": 1,
          "next": null,
          "previous": null,
          "results": [
            {
              "release": "ceph-2.1-updates@rhel-7",
              "id": "MON",
              "uid": "MON",
              "name": "MON",
              "type": "variant",
              "arches": [
                "x86_64"
              ]
            }
          ]
        }
  recorded_at: Mon, 08 May 2017 04:40:32 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=OSD
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 08 May 2017 02:56:59 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "count": 1,
          "next": null,
          "previous": null,
          "results": [
            {
              "release": "ceph-2.1-updates@rhel-7",
              "id": "OSD",
              "uid": "OSD",
              "name": "OSD",
              "type": "variant",
              "arches": [
                "x86_64"
              ]
            }
          ]
        }
  recorded_at: Mon, 08 May 2017 04:40:32 GMT
recorded_with: VCR 3.0.3
