--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 20 Mar 2017 06:47:42 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34685,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-client-7-rhceph-2-tools\",\"shadow\":false,\"product_id\":null},{\"id\":34686,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"ComputeNode-Tools\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-hpc-node-7-rhceph-2-tools\",\"shadow\":false,\"product_id\":null},{\"id\":34687,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_cat[...]
