--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/rhel-7.0/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 08 Feb 2017 13:14:49 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"rhel-7.0\",\"short\":\"rhel\",\"version\":\"7.0\",\"name\":\"Red Hat Enterprise Linux\",\"base_product\":null,\"active\":true,\"product_version\":\"rhel-7\",\"release_type\":\"ga\",\"compose_set\":[\"RHEL-7.0-20140507.0\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"rhel-7.0-candidate\",\"allowed_tags\":[\"rhel-7.0\",\"rhel-7.0-candidate\"]},\"product_pages\":{\"release_id\":17},\"errata\":{\"product_version\":\"RHEL-7\"}}"
  recorded_at: Wed, 08 Feb 2017 13:17:35 GMT
recorded_with: VCR 3.0.3
