--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=Client-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 20 Mar 2017 01:43:32 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"ClientTools\",\"uid\":\"Client-Tools\",\"name\":\"Client-Tools\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Mon, 20 Mar 2017 06:53:49 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Wed, 15 Mar 2017 18:29:03 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-2.1-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"2.1\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-2\",\"release_type\":\"updates\",\"compose_set\":[\"RHCEPH-2.1-RHEL-7-20161201.t.0\",\"RHCEPH-2.1-RHEL-7-20161207.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-2-rhel-7-candidate\",\"allowed_tags\":[\"ceph-2-rhel-7-candidate\",\"ceph-2-rhel-7\"]},\"product_pages\":null,\"errata\":null}"
  recorded_at: Mon, 20 Mar 2017 06:53:50 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=Client-Tools
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 20 Mar 2017 06:52:53 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34685,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"Client-Tools\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-client-7-rhceph-2-tools\",\"shadow\":false,\"product_id\":null}]"
  recorded_at: Mon, 20 Mar 2017 06:53:54 GMT
recorded_with: VCR 3.0.3
