---
#
# Requests to fetch rhn repos for the MON and OSD variants of ceph-2.1-updates@rhel-7
#
http_interactions:
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=MON
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 02 May 2017 19:53:39 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 34687,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "MON",
            "arch": "x86_64",
            "service": "rhn",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "binary",
            "name": "rhel-x86_64-server-7-rhceph-2-mon",
            "shadow": false,
            "product_id": null
          },
          {
            "id": 39804,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "MON",
            "arch": "x86_64",
            "service": "rhn",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "debug",
            "name": "rhel-x86_64-server-7-rhceph-2-mon-debuginfo",
            "shadow": false,
            "product_id":null
          }
        ]
  recorded_at: Tue, 02 May 2017 19:53:39 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=OSD
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 02 May 2017 19:53:44 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Conte[...]
