---
#
# Requests to fetch ftp.redhat.com repos for the MON and OSD variants of ceph-2.1-updates@rhel-7
#
http_interactions:
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_format=rpm&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=ftp.redhat.com&variant_uid=MON
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 08 May 2017 03:50:47 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 727,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "MON",
            "arch": "x86_64",
            "service": "ftp.redhat.com",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "source",
            "name": "/ftp/pub/redhat/linux/enterprise/7Server/en/RHCEPH/SRPMS",
            "shadow": false,
            "product_id": null
          }
        ]
  recorded_at: Mon, 08 May 2017 03:50:47 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_format=rpm&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=ftp.redhat.com&variant_uid=OSD
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 08 May 2017 03:50:47 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 730,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "OSD",
            "arch": "x86_64",
            "service": "ftp.redhat.com",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "source",
            "name": "/ftp/pub/redhat/linux/enterprise/7Server/en/RHCEPH/SRPMS",
            "shadow": false,
            "product_id": null
          }
        ]
  recorded_at: Mon, 08 May 2017 03:50:47 GMT
recorded_with: VCR 3.0.3
