---
#
# Requests to fetch pulp repos for the MON and OSD variants of ceph-2.1-updates@rhel-7
#
http_interactions:
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 31 Mar 2017 02:21:40 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 34675,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "MON",
            "arch": "x86_64",
            "service": "pulp",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "source",
            "name": "rhel-7-server-rhceph-2-mon-source-rpms__7Server__x86_64",
            "shadow": false,
            "product_id": 286
          }
        ]
  recorded_at: Fri, 31 Mar 2017 02:22:43 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 31 Mar 2017 02:21:44 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 34674,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "MON",
            "arch": "x86_64",
            "service": "pulp",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "binary",
            "name": "rhel-7-server-rhceph-2-mon-rpms__7Server__x86_64",
            "shadow": false,
            "product_id": 286
          }
        ]
  recorded_at: Fri, 31 Mar 2017 02:22:47 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 31 Mar 2017 02:21:51 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 34678,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "OSD",
            "arch": "x86_64",
            "service": "pulp",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "source",
            "name": "rhel-7-server-rhceph-2-osd-source-rpms__7Server__x86_64",
            "shadow": false,
            "product_id": 288
          }
        ]
  recorded_at: Fri, 31 Mar 2017 02:22:54 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 31 Mar 2017 02:21:55 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": 34677,
            "release_id": "ceph-2.1-updates@rhel-7",
            "variant_uid": "OSD",
            "arch": "x86_64",
            "service": "pulp",
            "repo_family": "dist",
            "content_format": "rpm",
            "content_category": "binary",
            "name": "rhel-7-server-rhceph-2-osd-rpms__7Server__x86_64",
            "shadow": false,
            "product_id": 288
          }
        ]
  recorded_at: Fri, 31 Mar 2017 02:22:57 GMT
- request:
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp
    body:
      encoding: US-ASCII
      string: ""
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 07 Jun 2017 03:21:02 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      [...]
