--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 01:55:14 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"MON\",\"uid\":\"MON\",\"name\":\"MON\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Mon, 10 Apr 2017 07:41:19 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/ceph-2.1-updates@rhel-7/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Thu, 30 Mar 2017 18:36:24 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"release_id\":\"ceph-2.1-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"2.1\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-2\",\"release_type\":\"updates\",\"compose_set\":[\"RHCEPH-2.1-RHEL-7-20161201.t.0\",\"RHCEPH-2.1-RHEL-7-20161207.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.0\",\"RHCEPH-2.1-RHEL-7-20161208.t.1\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-2-rhel-7-candidate\",\"allowed_tags\":[\"ceph-2-rhel-7-candidate\",\"ceph-2-rhel-7\"]},\"product_pages\":null,\"errata\":null}"
  recorded_at: Mon, 10 Apr 2017 07:41:21 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:40:17 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34687,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-server-7-rhceph-2-mon\",\"shadow\":false,\"product_id\":null}]"
  recorded_at: Mon, 10 Apr 2017 07:41:24 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/release-variants/?release=ceph-2.1-updates@rhel-7&uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 01:55:14 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"release\":\"ceph-2.1-updates@rhel-7\",\"id\":\"OSD\",\"uid\":\"OSD\",\"name\":\"OSD\",\"type\":\"variant\",\"arches\":[\"x86_64\"]}]}"
  recorded_at: Mon, 10 Apr 2017 07:41:39 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=rhn&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:40:36 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34688,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"rhn\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-x86_64-server-7-rhceph-2-osd\",\"shadow\":false,\"product_id\":null}]"
  recorded_at: Mon, 10 Apr 2017 07:41:43 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:42:13 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34675,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"source\",\"name\":\"rhel-7-server-rhceph-2-mon-source-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":286}]"
  recorded_at: Mon, 10 Apr 2017 07:43:20 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=MON
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:42:19 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34674,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"MON\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-server-rhceph-2-mon-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":286}]"
  recorded_at: Mon, 10 Apr 2017 07:43:26 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=source&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:42:32 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34678,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"source\",\"name\":\"rhel-7-server-rhceph-2-osd-source-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":288}]"
  recorded_at: Mon, 10 Apr 2017 07:43:39 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?content_category=binary&page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp&variant_uid=OSD
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:42:39 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "[{\"id\":34677,\"release_id\":\"ceph-2.1-updates@rhel-7\",\"variant_uid\":\"OSD\",\"arch\":\"x86_64\",\"service\":\"pulp\",\"repo_family\":\"dist\",\"content_format\":\"rpm\",\"content_category\":\"binary\",\"name\":\"rhel-7-server-rhceph-2-osd-rpms__7Server__x86_64\",\"shadow\":false,\"product_id\":288}]"
  recorded_at: Mon, 10 Apr 2017 07:43:46 GMT
[...]
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/content-delivery-repos/?page_size=-1&release_id=ceph-2.1-updates@rhel-7&service=pulp
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 10 Apr 2017 07:43:29 GMT
      Allow: 
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Typ[...]
[...]
