--- 
http_interactions: 
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/products/ceph/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 24 Apr 2017 18:58:31 GMT
      Allow: 
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Red Hat Ceph Storage\",\"short\":\"ceph\",\"active\":true,\"product_versions\":[\"ceph-1\",\"ceph-2\"],\"internal\":false}"
  recorded_at: Wed, 10 May 2017 04:52:11 GMT
- request: 
    method: get
    uri: https://pdc.engineering.redhat.com/rest_api/v1/releases/?product_version=ceph-1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Mon, 24 Apr 2017 19:07:42 GMT
      Allow: 
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type: 
      - application/json
    body: 
      encoding: UTF-8
      string: "{\"count\":6,\"next\":null,\"previous\":null,\"results\":[{\"release_id\":\"ceph-1.2-updates@rhel-6\",\"short\":\"ceph\",\"version\":\"1.2\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-6\",\"active\":false,\"product_version\":\"ceph-1\",\"release_type\":\"updates\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":null,\"product_pages\":null,\"errata\":null},{\"release_id\":\"ceph-1.2@rhel-6\",\"short\":\"ceph\",\"version\":\"1.2\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-6\",\"active\":false,\"product_version\":\"ceph-1\",\"release_type\":\"ga\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":null,\"product_pages\":null,\"errata\":null},{\"release_id\":\"ceph-1.2-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"1.2\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":false,\"product_version\":\"ceph-1\",\"release_type\":\"updates\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":null,\"product_pages\":null,\"errata\":null},{\"release_id\":\"ceph-1.2@rhel-7\",\"short\":\"ceph\",\"version\":\"1.2\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":false,\"product_version\":\"ceph-1\",\"release_type\":\"ga\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":null,\"product_pages\":null,\"errata\":null},{\"release_id\":\"ceph-1.3@rhel-7\",\"short\":\"ceph\",\"version\":\"1.3\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-1\",\"release_type\":\"ga\",\"compose_set\":[],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-1.3-rhel-7-candidate\",\"allowed_tags\":[\"ceph-1.3-rhel-7-candidate\",\"ceph-1.3-rhel-7\"]},\"product_pages\":null,\"errata\":null},{\"release_id\":\"ceph-1.3-updates@rhel-7\",\"short\":\"ceph\",\"version\":\"1.3\",\"name\":\"Red Hat Ceph Storage\",\"base_product\":\"rhel-7\",\"active\":true,\"product_version\":\"ceph-1\",\"release_type\":\"updates\",\"compose_set\":[\"RHCEPH-1.3.3-RHEL-7-20161130.t.0\"],\"integrated_with\":null,\"bugzilla\":null,\"dist_git\":null,\"brew\":{\"default_target\":\"ceph-1.3-rhel-7-candidate\",\"allowed_tags\":[\"ceph-1.3-rhel-7-candidate\",\"ceph-1.3-rhel-7\"]},\"product_pages\":null,\"errata\":null}]}"
  recorded_at: Wed, 10 May 2017 04:52:12 GMT
[...]
