*~
\#*
.#*
.*.swp
.*.swo
.*.swn
*.csv
*.patch
.msg
.project
.cvsexportcommit.diff
.loadpath
tags
ctags
.metadata/*
.idea/
log/*
tmp/*
scratch/*
dbdumps/*
coverage/*
public/rss/*.rss
public/rss/*.opml
*semantic.cache*
app/views/wtf/*
app/views/brew/semantic.cache
app/views/bugs/semantic.cache
app/views/docs/semantic.cache
app/views/errata/foo
app/views/errata/semantic.cache
app/views/layouts/semantic.cache
app/views/reports/semantic.cache
app/views/rpmdiff/semantic.cache
app/views/tps/semantic.cache
config/private.rb
db/dataset/
public/tps.txt
public/cpe_map_*.txt
public/announce.*
public/bug_links.*
oval/*
ovalcache/*
public/rss/*
public/news.rss
doc/app/*
lib/tasks/local.rake
publican_docs/*/tmp
publican_docs/*/_brand
publican_docs/*/markdown/_generated
publican_docs/*/en-US/Main.xml
misc/taskjuggler/cvs
misc/dotfiles/my_dev_bashrc
app/views/layouts/eso-theme/rails-example.html.erb
publican_docs/Developer_Guide/markdown/API/
test/data/mocks/*.log
test/data/mocks/*.jar
/.bundle/
/ansible/playbooks/*/roles/
/.ruby-gemset
/.ruby-version
