<h1>Edit Package Restriction for <%= @package_restriction.variant.name %></h1>
<%= form_for(@package_restriction, :url => variant_package_restriction_path) do |f| %>
  <%= render 'form', :form => f %>
<% end %>
