<div class="job_tracker_progressbar" style="display:none">
  <div class="progress progress-striped">
    <div class="bar" style="width: 0%;"></div>
  </div>
  <div class="progress_text"></div>
</div>
<%= hidden_field_tag 'job_tracker_id' %>
