<h2>Add Comment</h2> 
<table BORDER="0" CELLPADDING="2" CELLSPACING="3">
<tr>
  <td ALIGN="center">
  <%= text_area_tag 'comment', nil, :size => '80x10', :wrap => 'soft' %>
  </td>
</tr>
<tr>
  <td>
  </td>
  </tr>
</table>
