<p>
  Please refer to the documentation on
  <a target="_blank"
    href="/user-guide/filing-an-advisory-filing-an-advisory.html">Filing an Advisory</a>
  for information on creating advisories.
</p>

