<%= page_title_h1 %>

<table style="margin-bottom:0.5em;">
  <%= table_rows_helper([
    ['Default QE owner', nice_mailto_link(@default_owner, :short_to_s)]
  ], :labels=>true) %>
</table>

<% if @packages.empty? %>
<h2>No packages for group</h2>
<% else %>
<% row_func = lambda do |group|
   links = group.collect {|x|  link_to(x, :action => :show,:id => x)  }
   [links.join('</td><td>').html_safe]
end
%>

<% grouped = @packages.collect {|pkg| pkg.name}.inject([]) do |ary, x|
       not_nil_count = [*ary.last].count {|i| !i.nil? }
       ary << [] if not_nil_count % 6 == 0
       ary.last << x
       ary
     end

     last = grouped.last
     last << '' while last.length < 6
     
%>

<%= render(:partial => "shared/bz_table", :locals =>
{
:headers => [],
:func => row_func,
:row_items => grouped
}) %>

<% end %>
