[mysqld]
net_buffer_length={{ net_buffer_length }}
max_allowed_packet={{ max_allowed_packet }}
character_set_server={{ character_set_server }}
collation_server={{ collation_server }}
innodb_file_per_table={{ innodb_file_per_table }}
