<%#
  # This info is in the docs now so maybe we should just link to the docs..
-%>

<p style="padding-bottom:1em;">Access to the Errata Tool is limited since it contains sensitive information
about embargoed security issues.</p>

<p style="padding-bottom:1em;">To request access to Errata Tool, or to request
changes to your Errata Tool roles, please submit a request through the
<a href="https://maitai-bpms.engineering.redhat.com/business-central/maitai/embeddingForm/startProcessForm?deploymentId=%27com.redhat.errata:errata-user-settings:1.4%27&url=%27https://maitai-bpms.engineering.redhat.com/business-central/%27&processId=%27errata-user-settings.Errata-User-Settings%27">
Errata User Settings</a> process in <a href="https://maitai-bpms.engineering.redhat.com/">Maitai</a>.

<p style="padding-bottom:1em;"><b>Note:</b> Your access won't be granted until
your functional manager indicates their approval, so please let your manager
know that they will be asked to provide this. If you request additional roles,
justification must be given, and further approvals may be required.</p>

<p>If you aren't sure who your functional manager is, check
<%= link_to "the organizational chart", orgchart_url_for_user(guess_remote_user) %>.

<p>For information on user roles see <a
href="/user-guide/intro-introduction.html#intro-roles">Errata
Tool Roles</a>.</p>
