<% @bare_layout_mode = true  # Don't display nav links, etc %>

<div class="site_message">
  <h1>Kerberos authentication required</h1>
  <p>
    To use the Errata Tool you must authenticate with valid Kerberos credentials.
  </p>
</div>
