<div class="small light">
  For help with TPS and DistQA TPS please see the
  <%= link_to "https://engineering.redhat.com/trac/TPS/wiki/TPSHelpPortal" do %>
    <b>TPS Help Portal</b><%= image_tag 'icon_info.png', :style=>'vertical-align:bottom;' %>
  <% end %>
</div>
