<div class="tiny">
  <%= link_to 'Check all', '#', :class => 'btn-check-build', :data => { 'check'=> true} %> |
  <%= link_to 'Uncheck all', '#', :class => 'btn-check-build', :data => { 'check'=> false } %>
</div>
