<p><label for="release_blocker_flags">Blocker flags</label> - Fast Track releases assume devel_ack, and qa_ack. Add the release specific blocker flag, ex. 5.2.0, as well as the fast flag.<br/>
<%= text_field 'release', 'blocker_flags'  %></p>

